html{
  height: 100%;
}
body {
  height: 100%;
	background: linear-gradient(90deg, #0a122f, #010510, #120217, #000000);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
  color: white;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#sky{
  background-color: transparent;
  position: relative;
  height: 100%;
  width: 100%;
}
.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: relative;
  animation: x-axis 6s infinite ease-in-out;
}
.wrapper{
  animation: y-axis 6s infinite ease-in-out;
}
@keyframes x-axis {
  50%{
    transform: translateX(200px);
  }
}
@keyframes y-axis {
  12.5%{
    transform: translateY(25px);
  }
  37.5%{
    transform: translateY(-25px);
  }
  62.5%{
    transform: translateY(25px);
  }
  87.5%{
    transform: translateY(-25px);
  }
}
.bigstar {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    position: absolute;
    /* animation: mymove 20s infinite; */
}
.mediumstar {
  width: 2.5px;
  height: 2.5px;
  border-radius: 50%;
  background: white;
  position: absolute;
  /* animation: mymove 20s infinite; */
}
.smallstar {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: white;
  position: absolute;
  /* animation: mymove 20s infinite; */
}
@keyframes mymove {
    0% {left: 0%;}
    50% {left: 100%;}
    100% {left: 0%;}
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  top: 500%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.2;
    transform: translate(25px,0px);
  } 
  to {
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes glow{
  10%{
    transform: scale(150%);
  }
  20%{
    transform: scale(100%);
  }
}