* {box-sizing: border-box}
body {
  min-height: 100vh;
  height: 1px;
	background: linear-gradient(90deg, #030611, #010510, #120217, #000000);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
  color: white;
  font-size: 1.5em;
  font-family: 'Courier New', monospace;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.blackhole{
  position: absolute;
  aspect-ratio: 1 / 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}
#singularity{
  width:14rem;
  background: radial-gradient(circle, black 0%, 60%, white 70%);
  box-shadow: 0 0 10px 20px white;
  animation: pulsing 5s linear infinite;
}
#photon-ring{
  width:85%;
  background: transparent;
  border: solid 0.1rem white;
  box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem white;
  animation: rotate 5s ease infinite;
}
#event-horizon{
  width: 0;
  height: 0;
  border: 7.5rem solid white;
  box-shadow: 0 0 1rem 1.5rem rgb(249, 232, 170);
}
#aura{
  filter: blur(2rem);
  opacity: 0.5;
  width: 25rem;
  background-color: white;
  animation: pulsing 10s ease infinite;
}
.accretion-disc{
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid 0.5rem white;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: 35rem;
  height: auto;
  background-color: white;
  box-shadow: 0 0 1rem 1rem rgb(255, 247, 222);
}
#front-disc{
  width: 23rem;
  height: 1rem;
  border: none;
  padding: none;
  box-shadow: 0 0 1rem 0.5rem rgb(255, 255, 255);
}
@keyframes pulsing{
  0%{
    transform: translate(-50%,-50%) scale(100%);
  }
  20%{
    transform: translate(-50%,-50%) scale(102%);
  }
  55%{
    transform: translate(-50%,-50%) scale(101%);
  }
  70%{
    transform: translate(-50%,-50%) scale(98%);
  }
  90%{
    transform: translate(-50%,-50%) scale(103%);
  }
  100%{
    transform: translate(-50%,-50%) scale(100%);
  }
}
@keyframes rotate{
  0%{
    box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem white;
  }
  12%{
    box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem white;
  }
  24%{
    box-shadow: 0rem 0.2rem 0.1rem 0.1rem white;
  }
  37%{
    box-shadow: 0rem 0.1rem 0.1rem 0.1rem white;
  }
  49%{
    box-shadow: 0rem 0rem 0.1rem 0.1rem white;
  }
  62%{
    box-shadow: 0.1rem 0rem 0.1rem 0.1rem white;
  }
  74%{
    box-shadow: 0.2rem 0rem 0.1rem 0.1rem white;
  }
  87%{
    box-shadow: 0.2rem 0.1rem 0.1rem 0.1rem white;
  }
  99%{
    box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem white;
  }
}
#sky{
  background-color: transparent;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  overflow: hidden;
}
.star{
  border-radius: 50%;
  background: white;
  position: absolute;
  z-index: -1;
}
.big {
  width: 5px;
  height: 5px;
}
.medium {
width: 2.5px;
height: 2.5px;
}
.small {
width: 1px;
height: 1px;
}
@keyframes glow{
  10%{
    transform: scale(200%);
  }
  20%{
    transform: scale(100%);
  }
}

#nav-bar{
  position: fixed;
  height: auto;
  width: 100%;
  position: sticky;
}
ul{
  top: 0;
  list-style-type: none;
  width: 100%;
  height: auto;
  text-align: center;
  margin: auto;
  padding: 0;
}
li{
  display: inline;
  padding-inline: 10%;
}
.nav-links{
  color: white;
  text-decoration: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  top: 20%;
  z-index: 10;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

img{
  vertical-align: middle;
  width:50vh;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  position: relative;
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.2;
    transform: translate(25px,0px);
  } 
  to {
    opacity: 1;
    transform: translate(0,0);
  }
}