body {
	background: linear-gradient(90deg, #31499b, #182857, #46045c, #71027f);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
a:hover{
	  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:visited{
	  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:link{
	    color: green; 
  background-color: transparent; 
  text-decoration:none;
}

a:active{
	  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}