@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

@font-face {
  font-family: "andro";
  src: url(../assets/font/andromeda-font/Andromeda-eR2n.ttf);
  font-display: swap;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #D3D3D3;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100vw;

  font-family: 'Roboto', sans-serif;

  background: linear-gradient(#040815, #000510, #110415, #111111, #130101);
	background-size: 500% 500%;

  background-attachment: fixed;

          animation: gradient 20s ease infinite;
  -webkit-animation: gradient 20s ease infinite;
     -moz-animation: gradient 20s ease infinite;

  scrollbar-width: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

html::-webkit-scrollbar, body::-webkit-scrollbar{
  scrollbar-width: none;
  display: none;
}

img{
  display: block;
}

/* Background */
/* Stars */
.star{
  position: absolute;
  z-index: -1;
  aspect-ratio: 1;

  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 5px white;
}

@keyframes glow{
  10%{
            transform: scale(300%);
    -webkit-transform: scale(300%);
  }
  20%{
            transform: scale(100%);
    -webkit-transform: scale(100%);
  }
}

.star:nth-child(3n) {
  width: 0.5px;
}

.star:nth-child(3n+1) {
  width: 1px;
}

.star:nth-child(3n+2) {
  width: 3px;
}

/* Blackhole */
#background{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0;
  left: 0;

  display: flex;
  place-items: center;
  justify-content: center;
}

.blackhole{
  aspect-ratio: 1;
  border-radius: 50%;
}

#blackhole-container{
  width: 100vw;
  margin: 20px;
  position: relative;

  display: flex;
  display: -webkit-flex;
  place-items: center;
  justify-content: center;
}

#event-horizon{
  width: 60%;

  position: absolute;

  display: flex;
  display: -webkit-flex;
  justify-content: center;
  place-items: center;

  background: radial-gradient(circle closest-side, black 60%, rgb(255, 34, 0) 60%, 63%, transparent 64%, rgb(208, 28, 0) 65% 72%, transparent 73%, rgb(170, 23, 0) 74%, transparent 76%, rgb(108, 14, 0) 79% 82%, transparent 83%, rgb(135, 18, 0) 85%, rgb(87, 12, 0) 90% 94%, transparent 94.5%, rgb(56, 7, 0) 95%, transparent 96%, rgb(35, 5, 0) 98%);
}

#event-horizon::before{
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  transform: rotateX(82deg) translateY(60%);
  background: black;
}

.photon-ring{
  height: 50%;
  border: solid 0.1rem rgba(186, 28, 0, 0.5);
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(186, 28, 0, 0.5);

          animation: rotate 1s linear infinite;
  -webkit-animation: rotate 1s linear infinite;
     -moz-animation: rotate 1s linear infinite;
}

@keyframes rotate{
  0%{
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(186, 28, 0, 0.5);
  }
  24%{
    box-shadow: 0rem 0.1rem 0.1rem 0.1rem rgba(186, 28, 0, 0.5);
  }
  49%{
    box-shadow: 0rem 0rem 0.1rem 0.1rem rgba(186, 28, 0, 0.5);
  }
  74%{
    box-shadow: 0.1rem 0rem 0.1rem 0.1rem rgba(186, 28, 0, 0.5);
  }
  99%, 100%{
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(186, 28, 0, 0.5);
  }
}

.stripe{
  height: 100%;
  position: absolute;

  opacity: 0;

  background: radial-gradient(circle closest-side, transparent 95%, red 98%, transparent);

          animation: pulsate 10s linear infinite;
  -webkit-animation: pulsate 10s linear infinite;
     -moz-animation: pulsate 10s linear infinite;
  z-index: -1;
}

@keyframes pulsate {
  0% {
    transform: scale(0.62);
    -webkit-transform: scale(0.62);
  }
  2.5% {
    transform: scale(0.62);
    -webkit-transform: scale(0.62);
    opacity: 0.75;
  }
  92.5% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    opacity: 0.75;
  }
  100% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
}

#accretion-disc{
  width: 90%;
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  place-items: center;

  background: radial-gradient(circle closest-side, black 60%, rgb(255, 34, 0) 60%, 63%, transparent 64%, rgb(208, 28, 0) 65% 72%, transparent 73%, rgb(170, 23, 0) 74%, transparent 76%, rgb(108, 14, 0) 79% 82%, transparent 83%, rgb(135, 18, 0) 85%, rgb(87, 12, 0) 90% 94%, transparent 94.5%, rgb(56, 7, 0) 95%, transparent 96%, rgb(35, 5, 0) 98%);

  transform: rotateX(82deg);

  mask: conic-gradient(from 45deg, black, transparent);
  -webkit-mask: conic-gradient(transparent 40deg, black 40deg 320deg, transparent 320deg);
}

/* Header */
header{
  height: 10vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 1);

  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
}

nav{
  margin: auto;
  position: absolute;
  top: 8px;
  left: 0;

  height: calc(100% - 8px);
  width: 100%;
}


ul{
  height: 100%;
  width: 100%;

  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center;
  justify-content: space-around;

  list-style: none;
}

li{
  margin: 0 1.5%;
}

nav > ul > li > a{
  text-decoration: none;
  color: #D3D3D3;
  border-radius: 5rem;
  padding: 0.3rem 0.7rem;
  font-size: 0.8em;
  border: 1px white solid;
  background: linear-gradient(to right, rgba(21, 14, 44, 1), rgba(48, 0, 48, 1), rgba(67, 0, 0, 1));
}

nav > ul > li > a:hover, nav > ul > li > a.active{
  background: #FFFFFF;
  color: #444444;
}

nav > ul > li:first-child > h1{
  background: linear-gradient(to right, rgba(51, 26, 136, 1),rgb(167, 64, 167), rgba(154, 0, 0, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 1.2em;
}

#rocket{
  position: absolute;
  top: 50%;
  right: 0;

  height: 8px;

  transform: translateX(10px) translateY(-50%);

  display: block;
}

/* Main */
main{
  position: relative;
  width: 100vw;
  min-height: 100vh;
  text-align: center;

  transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
}

main > section{
  width: 100%;
  position: relative;
  padding: 2.5vh 0;
}

main > section:last-of-type{
  padding-bottom: calc(10vh + 1.75em);
}

main > section:first-of-type{
  padding-top: 10vh;
}

.anchor{
  position: absolute;
  top: -14vh;
  left: 0;
  width: 100%;
}

/* Home */
#home{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  place-items: end;
  justify-content: center;
}

#intro {
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5em;
  font-weight: normal;
}

#switch{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 1.5em;
}

#switch > span{
  display: block;
  white-space: pre;
  position: absolute;
  opacity: 0;
  transform: translateY(50%);
  animation: fade 50s ease-in infinite;
  -webkit-animation: fade 50s ease-in infinite;
  -moz-animation: fade 50s ease-in infinite;
}

#switch .letter{
  display: inline-block;
}

#switch .letter:nth-child(2n){
  animation: suckfast 50s ease-in infinite;
  -webkit-animation: suckfast 50s ease-in infinite;
  -moz-animation: suckfast 50s ease-in infinite;
}

#switch .letter:nth-child(2n-1){
  animation: suckslow 50s ease-in infinite;
  -webkit-animation: suckslow 50s ease-in infinite;
  -moz-animation: suckslow 50s ease-in infinite;
}

@keyframes fade {
  2%, 100%{
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes suckfast {
  0%, 14%{
    transform: translateY(0) rotateZ(0deg);
    -webkit-transform: translateY(0) rotateZ(0deg);
    opacity: 1;
  }
  20%, 100%{
    transform: translateY(-400%) rotateZ(360deg);
    -webkit-transform: translateY(-400%) rotateZ(360deg);
    opacity: 0;
  }
}

@keyframes suckslow {
  0%, 15%{
    transform: translateY(0) rotateZ(0deg);
    -webkit-transform: translateY(0) rotateZ(0deg);
    opacity: 1;
  }
  21%, 100%{
    transform: translateY(-400%) rotateZ(-360deg);
    -webkit-transform: translateY(-400%) rotateZ(-360deg);
    opacity: 0;
  }
}

#avatar{
  margin: auto;
  border-radius: 50%;
  width: 40%;
  aspect-ratio: 1;
  max-width: 400px;

  background: url(../images/avatar.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

#avatar:hover{
  background: url(../images/avatar2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#summary{
  margin: 0 10vw;
}

#summary > * > p{
  white-space: pre-line;
}

#summary > article{
  margin-top: 2vh;
}

#summary > article:first-child{
  text-align: start;
}

#summary > article:last-child{
  text-align: end;
}

/* Work + Project Gallery */
#work-gallery, #project-gallery{
  display: flex;
  flex-direction: row;

  overflow-x: scroll;

  scroll-snap-type: x mandatory;

  padding-top: 7.5vh;
  padding-bottom: 2.5vh;

  min-width: 100vw;
}

#project-gallery{
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

.planet{
  position: relative;

  max-width: 800px;

  flex: 0 0 90vw;
  margin: 0 5vw;

  display: flex;
  place-items: center;
  justify-content: center;

  scroll-snap-align: center;

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;

  border-radius: 50%;
}

.planet > img{
  width: 100%;
  filter: brightness(0.5);
}

#current::before{
  content: '';
  background-image: url(../images/astronaut.webp);
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vh;
  aspect-ratio: 1;
  position: absolute;
  top: -10vh;
  left: 50%;
  translate: -50% 30%;
  z-index: 1;
}

.underplanet{
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 50%;

  padding: 15%;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 0.5rem;
}

.italic{
  font-style: italic;
}

details{
  max-width: 100%;
  padding: 5px;
}

details summary {
  cursor: pointer;
  margin-bottom: -5px; /* for more prominent move */
  transition: margin 0.25s ease-out;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
}

details[open] summary {
  margin-bottom: 5px;
}

.tech-stack{
  display: flex;
  place-items: center;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.tech-stack > img{
  opacity: 0;
  max-height: 2.5em;
  max-width: 2.5em;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

details[open] > .tech-stack > img{
  opacity: 1;
}

@keyframes travel{
  0%{
    transform: translateY(2%);
  }
  100%{
    transform: translateY(-2%);
  }
}

.gh-link{
  margin: auto;
  display: block;
  max-width: 2em;
  max-height: 2em;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
}

.gh-link::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/github-logo.webp);
  background-repeat: no-repeat;
  background-size: contain;
          filter: invert(1);
  -webkit-filter: invert(1);
}

#copyrights{
  color: grey;
  position: absolute;
  bottom: 10vh;
  left: 0;
  font-size: 0.75em;
  margin: 0.5em;
}

/* Footer */
footer{
  position: fixed;

  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
}

#socials{
  margin: auto;

  position: relative;

  width: 100%;
  height: 100%;

  border: 1px white solid;

  background: linear-gradient(to right, rgba(21, 14, 44, 1), rgba(48, 0, 48, 1), rgba(67, 0, 0, 1));

  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  place-items: center;

  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;

  border-radius: 5rem;
  padding: 0.75em;
}

#socials > a {
  height: 100%;
  display: block;
  aspect-ratio: 1;
}

#socials > a > img:hover{
  filter: invert(0);
  -webkit-filter: invert(0);
}

 #socials > a > img{
  height: 100%;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.minimized{
  opacity: 0;
  pointer-events: none;
}

#socials.minimized{
  transform-origin: bottom;
  transform: scale(75%);
  -webkit-transform-origin: bottom;
  -webkit-transform: scale(75%);
  -moz-transform-origin: bottom;
  -moz-transform: scale(75%);
}

.ontop{
  z-index: 100;
}

/* Media queries */
@media only screen and (max-width: 360px){
  body{
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 540px){
  body{
    font-size: 1.2rem;
  }
  #blackhole-container{
    width: 50vw;
  }
}

@media only screen and (min-width: 770px){
  body{
    font-size: 1.5rem;
  }
  #socials{
    width: 50%;
  }

  ul{
    justify-content: center;
  }

  nav > ul > li:first-child{
    margin-right: auto;
  }
}

@media only screen and (min-width: 1280px){
  #work-gallery, #project-gallery{
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: visible;
  }

  .planet:hover{
    scale: 105%;
  }

  .planet{
    flex: 1 1 0;
    min-width: 500px;
    max-width: calc((100vw - 20vw) / 2);
  }

  #socials{
    width: 40%;
    padding: 0.5em;
  }

  #current::before{
    height: 15vh;
    top: -15vh;
  }
}