/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  scroll-behavior: smooth;
}
html{
  height: 100%;
}
body {
  min-height: 100%;

  font-family: 'Andale Mono', monospace;

  font-size: 1.5rem;

  background: linear-gradient(90deg, #030611, #010510, #08020a, #000000);
	background-size: 500% 500%;

  background-attachment: fixed;
	
  animation: gradient 20s ease infinite;
  -webkit-animation: gradient 20s ease infinite;
  -moz-animation: gradient 20s ease infinite;
  
  scrollbar-width: none;
}

html::-webkit-scrollbar{
  scrollbar-width: none;
  display: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#background{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;

  height: 10vh;
  width: 100%;

  font-size: 0.7em;
}

ul{
  height: 100%;
  width: 100%;

  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center;
  justify-content: space-around;
  
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;

  background-color: rgba(0, 0, 0, 0.95)
}

li{
  margin: 0 2% 0;
}

li:first-child{
  margin-right: auto;
  background: transparent;
  color: white;
  background: linear-gradient(to right, rgba(108, 63, 255, 0.6),rgba(215, 88, 215, 0.6)), rgba(154, 0, 0, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav > ul > li > a{
  text-decoration: none;
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 2px white solid;
  background: linear-gradient(to right, rgba(24, 0, 101, 0.6), rgba(128, 0, 128, 0.6), rgba(154, 0, 0, 0.6));
}

nav > ul > li > a:hover{
  background: #000000;
  filter: invert(1);
  -webkit-filter: invert(1);
}

#avatar{
  margin: auto;
  border-radius: 50%;
  width: 20%;
  aspect-ratio: 1;
  background: url(../assets/images/avatar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;

  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

#avatar > img{
  width: 30%;
  filter: invert(1);
}

#avatar:hover{
  background: url(../assets/images/avatar2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#rocket{
  position: absolute;
  top: 50%;
  right: 0;

  height: 15px;

  transform: translateY(-50%);

  display: block;
}
 
#singularity{
  animation: pulsing-low 0.5s linear infinite;
  -webkit-animation: pulsing-low 0.5s linear infinite;
  -moz-animation: pulsing-low 0.5s linear infinite;
}
#photon-ring{
  animation: rotate 0.2s linear infinite;
  -webkit-animation: rotate 0.2s linear infinite;
  -moz-animation: rotate 0.2s linear infinite;
}
#event-horizon{
  animation: pulsing-bright 3s linear infinite alternate;
  -webkit-animation: pulsing-bright 3s linear infinite alternate;
  -moz-animation: pulsing-bright 3s linear infinite alternate;
}
#aura{
  animation: aura-pulsing 20s ease infinite;
  -webkit-animation: aura-pulsing 20s ease infinite;
  -moz-animation: aura-pulsing 20s ease infinite;
}
.accretion-disc{
  animation: vibrate 0.1s linear infinite;
  -webkit-animation: vibrate 0.1s linear infinite;
  -moz-animation: vibrate 0.1s linear infinite;
}
#front-disc{
  animation: stripe 0.5s ease infinite;
  -webkit-animation: stripe 0.5s ease infinite;
  -moz-animation: stripe 0.5s ease infinite;
}

#blackhole-container{
  position: relative;
  height: 50%;
  width: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.blackhole{
  aspect-ratio: 1;
  border-radius: 50%;
}

#singularity{
  height:100%;

  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle, black 0%, 65%, white 70%);
  box-shadow: 0 0 0.63rem 1.25rem white;
}

@keyframes pulsing-low{
  0%{
    transform: scale(100%);
    -webkit-transform: scale(100%);
  }
  20%{
    transform: scale(102%);
    -webkit-transform: scale(102%);
    box-shadow: 0 0 0.94rem 0.94rem white;
  }
  55%{
    transform: scale(103%);
    -webkit-transform: scale(103%);
  }
  70%{
    transform: scale(99%);
    -webkit-transform: scale(99%);
    box-shadow: 0 0 0.25rem 0.63rem white;
  }
  90%{
    transform: scale(101%);
    -webkit-transform: scale(101%);
    box-shadow: 0 0 0.25rem 0.94rem white;
  }
  100%{
    transform: scale(100%);
    -webkit-transform: scale(100%);
  }
}

#photon-ring{
  height: 85%;
  border: solid 0.1rem white;
  box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem white;
}

@keyframes rotate{
  0%{
    box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem white;
  }
  24%{
    box-shadow: 0rem 0.2rem 0.1rem 0.1rem white;
  }
  49%{
    box-shadow: 0rem 0rem 0.1rem 0.1rem white;
  }
  74%{
    box-shadow: 0.2rem 0rem 0.1rem 0.1rem white;
  }
  99%, 100%{
    box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem white;
  }
}

#event-horizon{
  height: 60%;
  border: 20% solid white;

  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 1rem 2rem rgb(249, 232, 170);
}

@keyframes pulsing-bright {
  0%{
    transform: scale(100%);
    -webkit-transform: scale(100%);
    box-shadow: 0 0 1rem 2rem rgb(249, 232, 170);
  }  
  17%{
    box-shadow: 0 0 1.5rem 2.5rem rgb(255, 242, 195);
  }
  20%{
    transform: scale(98%);
    -webkit-transform: scale(98%);
  }
  55%{
    transform: scale(101%);
    -webkit-transform: scale(101%);
  }  
  67%{
    box-shadow: 0 0 2rem 2rem rgb(249, 232, 170);
  }
  70%{
    transform: scale(101%);
    -webkit-transform: scale(101%);
  } 
  83%{
    box-shadow: 0 0 1.5rem 2rem rgb(255, 246, 185);
  }
  90%{
    transform: scale(99%);
    -webkit-transform: scale(99%);
  }
  100%{
    transform: scale(100%);
    -webkit-transform: scale(100%);
    box-shadow: 0 0 1rem 2rem rgb(249, 232, 170);
  }
}

#aura{
  position: absolute;
  
  height: 100%;

  filter: blur(2.5rem);
  -webkit-filter: blur(2.5rem);

  background: repeating-conic-gradient(white, transparent 11% 15%, white 18%);
  
  background-size: 50% 50%;
}

@keyframes aura-pulsing{
  0%{
    background-position: 0% 0%;
  }
  20%{
    background-position: -20.5% 3.6%;
  }
  55%{
    background-position: -40.7% -50.9%;
  }
  70%{
    background-position: -50.7% -70.5%;
  }
  90%{
    background-position: 20.3% -40.5%;
  }
  100%{
    background-position: 0% 0%;
  }
}

.accretion-disc{
  position: absolute;

  height: 7.5%;
  aspect-ratio: 18;

  margin: auto;
  
  border-radius: 50%;
  
  background-color: white;
  box-shadow: 0 0 1rem 1rem rgb(255, 247, 222);
}

@keyframes vibrate{
  25%{
    rotate: 0.3deg;
  }
  75%{
    rotate: -0.3deg;
  }
}

#front-disc{
  margin: auto;

  height: 5%;

  box-shadow: 0 0 1rem 0.5rem rgb(255, 255, 255);
  background: repeating-linear-gradient(white 10%, transparent 30%, white 50%);
}

@keyframes stripe {
  0%{
    background: repeating-linear-gradient(white 10%, transparent 30%, white 50%);
  }
  12.5%{
    background: repeating-linear-gradient(white 5%, transparent 40%, white 55%);
  }
  25%{
    background: repeating-linear-gradient(white 10%, transparent 30%, white 60%);
  }
  37.5%{
    background: repeating-linear-gradient(white 5%, transparent 40%, white 50%);
  }
  50%{
    background: repeating-linear-gradient(white 10%, transparent 30%, white 50%);
  }
  62.5%{
    background: repeating-linear-gradient(white 10%, transparent 30%, white 45%);
  }
  75%{
    background: repeating-linear-gradient(white 20%, transparent 30%, white 40%);
  }
  87.5%{
    background: repeating-linear-gradient(white 5%, transparent 40%, white 40%);
  }
  100%{
    background: repeating-linear-gradient(white 10%, transparent 30%, white 50%);
  }
}

.star{
  position: absolute;
  z-index: -1;

  border-radius: 50%;
  background: white;
}

@keyframes glow{
  10%{
    transform: scale(200%);
    -webkit-transform: scale(200%);
  }
  20%{
    transform: scale(100%);
    -webkit-transform: scale(100%);
  }
}

.star:nth-child(n) {
  width: 0.3%;
  aspect-ratio: 1;
}

.star:nth-child(2n) {
  width: 0.2%;
  aspect-ratio: 1;
}

.star:nth-child(3n) {
  width: 0.1%;
  aspect-ratio: 1;
}

 #footer{
  position: fixed;
  
  bottom: 0;
  left: 0;
  width: 100%;
}

#socials{

  margin: auto;

  position: relative;

  width: 25%;
  height: 10vh;
  
  border: 2px white solid;
  background: linear-gradient(to right, rgba(128, 0, 128, 0.6), rgba(24, 0, 101, 0.6), rgba(154, 0, 0, 0.6));

  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;

  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  
  border-radius: 5rem;
  padding: 0.5%;
}

#socials > a > img:hover{
  filter: invert(0);
  -webkit-filter: invert(0);
}

 #socials a img{
  width: 100%;
  filter: invert(1);
  -webkit-filter: invert(1);
  display: block;
}

#socials > a {
  width: 3rem;
}

.ontop{
  z-index: 100;
}

main{
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

main h1{
  font-size: 1.5em;
  font-weight: bold;
}

main > section{
  width: 100%;
  position: relative;
  margin: 5% 0 5%;
}

main > section > div{
  margin: 2%;
}

.anchor{
  position: absolute;
  top: -20vh;
}

#home{
  position: relative;
  height: 90vh; 
  width: 100%; 
}

#home p {
  position: absolute;
  top: 70%;
  left: 50%;
  translate: -50% -50%;
  display: flex; 
  display: -webkit-flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
}

#switch > span{
  position: absolute;
  translate: -50% 50%;
  opacity: 0;
  white-space: pre;
  animation: fade 50s ease-in infinite;
  -webkit-animation: fade 50s ease-in infinite;
  -moz-animation: fade 50s ease-in infinite;
}

#switch > span > span{
  display: inline-block;
}

#switch > span > span:nth-child(2n){
  animation: suck1 50s ease-in infinite;
  -webkit-animation: suck1 50s ease-in infinite;
  -moz-animation: suck1 50s ease-in infinite;
}

#switch > span > span:nth-child(2n-1){
  animation: suck2 50s ease-in infinite;
  -webkit-animation: suck2 50s ease-in infinite;
  -moz-animation: suck2 50s ease-in infinite;
}

#switch span:nth-child(1), #switch span:nth-child(1) span{
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
}
#switch span:nth-child(2), #switch span:nth-child(2) span{
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
}
#switch span:nth-child(3), #switch span:nth-child(3) span{
  animation-delay: 20s;
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
}
#switch span:nth-child(4), #switch span:nth-child(4) span{
  animation-delay: 30s;
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
}
#switch span:nth-child(5), #switch span:nth-child(5) span{
  animation-delay: 40s;
  -webkit-animation-delay: 40s;
  -moz-animation-delay: 40s;
}
@keyframes fade {
  2%, 100%{
    opacity: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}
@keyframes suck1 {
  0%, 14%{
    transform: translateY(0) rotateZ(0deg);
    -webkit-transform: translateY(0) rotateZ(0deg);
    opacity: 1;
  }
  20%, 100%{
    transform: translateY(-400%) rotateZ(360deg);
    -webkit-transform: translateY(-400%) rotateZ(360deg);
    opacity: 0;
  }
}

@keyframes suck2 {
  0%, 15%{
    transform: translateY(0) rotateZ(0deg);
    -webkit-transform: translateY(0) rotateZ(0deg);
    opacity: 1;
  }
  21%, 100%{
    transform: translateY(-400%) rotateZ(-360deg);
    -webkit-transform: translateY(-400%) rotateZ(-360deg);
    opacity: 0;
  }
}

#summary{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

#summary > p{ 
  width: 0;
  flex: 1 1 0;
}

#summary > p img{
  vertical-align: middle;
}

#summary > p:first-of-type{
  padding-left: 10%;
  text-align: start;
}

#summary > p:last-of-type{
  padding-right: 10%;
  text-align: end;
}

#work-gallery-container, #project-gallery-container{
  width: 100%;
  margin: auto;
}

#work-gallery, #project-gallery{
  margin: auto;
  position: relative;
  min-width: 100%;
}

#work-gallery{
  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

#project-gallery{
  position: relative;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  padding: 5%;
  row-gap: 7rem;
}

#project-gallery > div:nth-last-child(2){
  grid-area: 2 / 3 / span 1 / span 1;
}
#project-gallery > div:last-child{
  grid-area: 2 / 2 / span 1 / span 1;
}


#project-gallery > div, #work-gallery > div{
  border-radius: 50%;
}

#work-gallery > div:nth-child(odd), #project-gallery > div:nth-child(even){
  translate: 0% -10%;
  animation-delay: -2s;
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
}

#work-gallery > div:nth-child(even), #project-gallery > div:nth-child(odd){
  translate: 0% 10%;
}

#project-gallery > div:last-child{
  translate: 0% 10%;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

#project-gallery > div:nth-last-child(2){
  translate: 0% -10%;
  animation-delay: -2s;
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
}

#project-gallery > div::after{
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

#project-gallery > div:hover::after{
  opacity: 1;
}

#project-gallery > div:nth-child(1)::after{
  background-image: url(../assets/images/soccer-database.png);
}

#project-gallery > div:nth-child(2)::after{
  background-image: url(../assets/images/mtl-library.png);
}

#project-gallery > div:nth-child(3)::after{
  background-image: url(../assets/images/carshop-backend.png);
}
#project-gallery > div:nth-child(4)::after{
  background-image: url(../assets/images/pourdecisions.png);
}

#project-gallery > div:nth-child(5)::after{
  background-image: url(../assets/images/cifar10-mlp.png);  
}

@keyframes travel{
  0%{
    transform: translateY(2%);
  }
  100%{
    transform: translateY(-2%);
  }
}

.planet, .moon{
  position: relative;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  
  min-width: 40vh;
  
  flex: 1 1 0;
  
  margin: 3%;

  animation: travel 2s ease-in-out infinite alternate-reverse;
  -webkit-animation: travel 2s ease-in-out infinite alternate-reverse;
  -moz-animation: travel 2s ease-in-out infinite alternate-reverse;

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.planet:hover, .moon:hover{
  scale: 110%;
}

.moon > a > span{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.moon > a {
  width: 50%;
  z-index: 1;
}

.planet img, .moon img{
  display: block;
  width: 100%;
}

#current::before{
  content: '';
  background-image: url(../assets/images/astronaut.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 20%;
  width: 20%;
  position: absolute;
  top: 0%;
  left: 50%;
  translate: -50% -50%;
}

.underplanet{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 0.66em;
  text-shadow: 2px 2px #000000;
}

.underplanet *{
  display: block;
}

#skills{
  /* position: relative; */
  width: 100%;
  height: auto;
}

.stamp{
  margin: auto;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.title{
  font-size: 1.25em;
  font-weight: bold;
}

.largetitle{
  font-size: 3em;
  font-weight: bold;
}

#about .largetitle{
  font-family: Futura, "Trebuchet MS";
  display: inline-block;
  margin-bottom: 3%;
}

.undertitle{
  font-size: 0.9em;
}

span.undertitle img{
  margin: auto;
  width: 3rem;
  aspect-ratio: 1;
}

.mcgill, .mcgill *{
  color: red;
}

.cpk{
  color: rgb(135, 105, 78);
}

img.mcgill, img.cpk{
  height: 1.33em;
}

.to-show-on-scroll{
  opacity: 0;
  transform: translateY(10%) translateX(10%) rotateZ(15deg);
  -webkit-transform: translateY(10%) translateX(10%) rotateZ(15deg);
  -moz-transform: translateY(10%) translateX(10%) rotateZ(15deg);
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
}

.scroll-animation {
  opacity: 1;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
}

.minimized{
  opacity: 0.7;
}

#socials.minimized{
  transform-origin: bottom;
  transform: scale(75%);
}

#nav-bar.minimized > ul{
  height: 70%;
}

.acc-aig, .acc-gr, .acc-circ{
  position: relative;
}

.acc-aig::before, .acc-gr::before, .acc-circ::before{
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0%;
}

.acc-gr::before{
  content: '`';
}

.acc-aig::before{
  content: '´';
}

.acc-circ::before{
  content: '^';
  font-size: 0.5em;
}

.acc-container{
  display: inline-block;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  background: linear-gradient(to right, rgba(154, 0, 0, 1), rgb(170, 0, 170), rgb(44, 0, 189));
  width: 0%;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;

  border-radius: 0 0.5rem 0.5rem 0;
}

/* mobile */
  @media only screen and (max-width: 990px){
    body{font-size: 0.75rem;}
    #switch > span > span, main h1{font-size: 1rem;}
    #socials{
      width: 90%;
      border: 1px white solid;
    }
    #socials a{
      width: 2.5rem;
    }
    #blackhole-container{
        height: 30%;
        width: 30%;
    }
    nav{
      font-size: 0.9rem;
    }
    ul{
      padding: 5%;
      justify-content: center;
    }
    li.title, .underplanet{
      font-size: 1em;
    }
    #nav-bar.minimized > ul{
      padding-top: 8%;
      padding-left: 10%;
      padding-right: 10%;
    }
    nav ul li a{
      padding: 0.3rem 0.5rem 0.3rem 0.5rem;
      border: 1px white solid;
    }
    #home p{bottom: 20%;}
    #summary{display: block;}
    #summary > p{
      padding-left: 20%;
      padding-right: 20%; 
      width: auto;
      flex: 0 0 0;
    }
    #avatar{width: 70%;}
    #project-gallery-container, #work-gallery-container{
      overflow-x: scroll;
      scroll-snap-type: x proximity;
    }
    #project-gallery, #work-gallery{
      display: inline-flex;
      display: -webkit-inline-flex;
      align-items: center;
      justify-content: flex-start;
    }
    #project-gallery-container{
      margin-bottom: 10vh;
    }
    .planet, .moon{scroll-snap-align: center; margin: auto;}
    #current::before{
      height: 20%;
      width: 20%;
    }
    div#work-gallery-container > div#work-gallery > div, div#project-gallery-container > div#project-gallery > div{
      translate: 0 0;
      animation: none;
      -webkit-animation: none;
      -moz-animation: none;
    }
    div.planet > p.underplanet > span.undertitle img{width: 2rem;}
    img.mcgill, img.cpk{height: 1rem;}
    .progressBar{
      height: 4px;
    }
    #rocket{
      height: 8px;
    }
}