@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #D3D3D3;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "andro";
  src: url(../assets/font/andromeda-font/Andromeda-eR2n.ttf);
  font-display: swap;
}

body {
  min-height: 100vh;
  max-width: 100vw;

  font-family: 'Roboto', sans-serif;

  background: linear-gradient(#040815, #000510, #110415, #111111, #130101);
	background-size: 500% 500%;

  background-attachment: fixed;
	
          animation: gradient 20s ease infinite;
  -webkit-animation: gradient 20s ease infinite;
     -moz-animation: gradient 20s ease infinite;
  
  scrollbar-width: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar{
  scrollbar-width: none;
  display: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#background{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0;
  left: 0;

  display: flex;
  place-items: center;
  justify-content: center;
}

#blackhole-container{
  width: 100vw;
  margin: 20px;
  position: relative;

  display: flex;
  display: -webkit-flex;
  place-items: center;
  justify-content: center;
}

.blackhole{
  aspect-ratio: 1;
  border-radius: 50%;
}

@keyframes rotate{
  0%{
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(186, 28, 0, 0.5);
  }
  24%{
    box-shadow: 0rem 0.1rem 0.1rem 0.1rem rgba(186, 28, 0, 0.5);
  }
  49%{
    box-shadow: 0rem 0rem 0.1rem 0.1rem rgba(186, 28, 0, 0.5);
  }
  74%{
    box-shadow: 0.1rem 0rem 0.1rem 0.1rem rgba(186, 28, 0, 0.5);
  }
  99%, 100%{
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(186, 28, 0, 0.5);
  }
}

#event-horizon{
  width: 60%;

  position: absolute;

  display: flex;
  display: -webkit-flex;
  justify-content: center;
  place-items: center;
  
  background: radial-gradient(circle closest-side, black 60%, rgb(255, 34, 0) 60%, 63%, transparent 64%, rgb(208, 28, 0) 65% 72%, transparent 73%, rgb(170, 23, 0) 74%, transparent 76%, rgb(108, 14, 0) 79% 82%, transparent 83%, rgb(135, 18, 0) 85%, rgb(87, 12, 0) 90% 94%, transparent 94.5%, rgb(56, 7, 0) 95%, transparent 96%, rgb(35, 5, 0) 98%);
}


#event-horizon::before{
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  transform: rotateX(82deg) translateY(60%);
  background: black;
}

.photon-ring{
  height: 50%;
  border: solid 0.1rem rgba(186, 28, 0, 0.5);
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(186, 28, 0, 0.5);
  
          animation: rotate 1s linear infinite;
  -webkit-animation: rotate 1s linear infinite;
     -moz-animation: rotate 1s linear infinite;
}

.stripe{
  height: 100%;
  position: absolute;

  opacity: 0;

  background: radial-gradient(circle closest-side, transparent 95%, red 98%, transparent);

          animation: pulsate 10s linear infinite;
  -webkit-animation: pulsate 10s linear infinite;
     -moz-animation: pulsate 10s linear infinite;
  z-index: -1;
}

@keyframes pulsate {
  0% {
    transform: scale(0.62);
    -webkit-transform: scale(0.62);
  }
  2.5% {
    transform: scale(0.62);
    -webkit-transform: scale(0.62);
    opacity: 0.75;
  } 
  92.5% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    opacity: 0.75;
  }
  100% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
}

#accretion-disc{
  width: 90%;
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  place-items: center;
  
  background: radial-gradient(circle closest-side, black 60%, rgb(255, 34, 0) 60%, 63%, transparent 64%, rgb(208, 28, 0) 65% 72%, transparent 73%, rgb(170, 23, 0) 74%, transparent 76%, rgb(108, 14, 0) 79% 82%, transparent 83%, rgb(135, 18, 0) 85%, rgb(87, 12, 0) 90% 94%, transparent 94.5%, rgb(56, 7, 0) 95%, transparent 96%, rgb(35, 5, 0) 98%);

  transform: rotateX(82deg);

  mask: conic-gradient(from 45deg, black, transparent);
  -webkit-mask: conic-gradient(transparent 40deg, black 40deg 320deg, transparent 320deg);
}

.star{
  position: absolute;
  z-index: -1;
  aspect-ratio: 1;

  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 5px white;
}

@keyframes glow{
  10%{
            transform: scale(500%);
    -webkit-transform: scale(500%);
  }
  20%{
            transform: scale(100%);
    -webkit-transform: scale(100%);
  }
}

.star:nth-child(3n) {
  width: 0.5px;
}

.star:nth-child(3n+1) {
  width: 1px;
}

.star:nth-child(3n+2) {
  width: 3px;
}

header{
  height: 10vh;
  width: 100vw;
  
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 1);

  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
}

nav{
  margin: auto;
  position: absolute;
  top: 8px;
  left: 0;

  height: calc(100% - 8px);
  width: 100%;
}


ul{
  height: 100%;
  width: 100%;

  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center;
  justify-content: space-around;

  list-style: none;
}

li{
  margin: 0 1.5%;
}

nav > ul > li > a{
  text-decoration: none;
  color: #D3D3D3;
  border-radius: 5rem;
  padding: 0.3rem 0.7rem;
  font-size: 0.8rem;
  border: 1px white solid;
  background: linear-gradient(to right, rgba(21, 14, 44, 1), rgba(48, 0, 48, 1), rgba(67, 0, 0, 1));
}

nav > ul > li > a:hover, nav > ul > li > a.active{
  background: #FFFFFF;
  color: #444444;
}

nav > ul > li:first-child > h1{
  background: linear-gradient(to right, rgba(51, 26, 136, 1),rgb(167, 64, 167), rgba(154, 0, 0, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 1.2em;
}

#nav-bar.minimized > ul{
  font-size: smaller;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  background: linear-gradient(to right, rgba(154, 0, 0, 1), rgb(170, 0, 170), rgb(44, 0, 189));
  width: 0%;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;

  border-radius: 0 0.5rem 0.5rem 0;
}

#rocket{
  position: absolute;
  top: 50%;
  right: 0;

  height: 15px;

  transform: translateX(50%) translateY(-50%);

  display: block;
}

#avatar{
  margin: auto;
  border-radius: 50%;
  width: 40%;
  aspect-ratio: 1;

  background: url(../assets/images/avatar.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

#avatar:hover{
  background: url(../assets/images/avatar2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#copyrights{
  color: grey;
  position: absolute;
  bottom: -4em;
  left: 0;
  font-size: 0.75em;
  margin: 1em;
}

footer{
  position: fixed;
  
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
}

#socials{
  margin: auto;

  position: relative;

  width: 100%;
  height: 100%;
  
  border: 1px white solid;

  background: linear-gradient(to right, rgba(21, 14, 44, 1), rgba(48, 0, 48, 1), rgba(67, 0, 0, 1));

  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;

  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  
  border-radius: 5rem;
  padding: 1%;
}

#socials > a > img:hover{
  filter: invert(0);
  -webkit-filter: invert(0);
}

 #socials > a > img{
  margin: auto;
  height: 100%;
  filter: invert(1);
  -webkit-filter: invert(1);
  display: block;
}

#socials > a {
  aspect-ratio: 1;
  max-height: 90%;
  flex: 1 1 0;
}

.ontop{
  z-index: 100;
}

main{
  position: relative;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: calc(10vh + 3em);
}

main > section{
  width: 100%;
  position: relative;
}

main > section{
  width: 100%;
  position: relative;
  margin: 10% 0%;
}

main > section:last-child{
  margin-bottom: 0;
}

main > section:first-child{
  margin-top: 0;
}

#home{
  position: relative;
  height: 90vh; 
  width: 100%; 
  display: flex;
  display: -webkit-flex;
  place-items: end; 
  justify-content: center;
}

#intro {
  position: relative;
  display: flex; 
  display: -webkit-flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  margin-bottom: 5em;
}

#switch{
  display: flex; 
  display: -webkit-flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  height: 1.5em;
}

#switch > span{
  display: block;
  white-space: pre;
  position: absolute;
  opacity: 0;
  transform: translateY(50%);
  animation: fade 50s ease-in infinite;
  -webkit-animation: fade 50s ease-in infinite;
  -moz-animation: fade 50s ease-in infinite;
}

#switch .letter{
  display: inline-block;
}

#switch .letter:nth-child(2n){
  animation: suckfast 50s ease-in infinite;
  -webkit-animation: suckfast 50s ease-in infinite;
  -moz-animation: suckfast 50s ease-in infinite;
}

#switch .letter:nth-child(2n-1){
  animation: suckslow 50s ease-in infinite;
  -webkit-animation: suckslow 50s ease-in infinite;
  -moz-animation: suckslow 50s ease-in infinite;
}

@keyframes fade {
  2%, 100%{
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes suckfast {
  0%, 14%{
    transform: translateY(0) rotateZ(0deg);
    -webkit-transform: translateY(0) rotateZ(0deg);
    opacity: 1;
  }
  20%, 100%{
    transform: translateY(-400%) rotateZ(360deg);
    -webkit-transform: translateY(-400%) rotateZ(360deg);
    opacity: 0;
  }
}

@keyframes suckslow {
  0%, 15%{
    transform: translateY(0) rotateZ(0deg);
    -webkit-transform: translateY(0) rotateZ(0deg);
    opacity: 1;
  }
  21%, 100%{
    transform: translateY(-400%) rotateZ(-360deg);
    -webkit-transform: translateY(-400%) rotateZ(-360deg);
    opacity: 0;
  }
}

#summary{
  margin: 0 10vw;
}

#summary > * > p{
  white-space: pre-line;
}

#summary > article{
  margin-top: 2vh;
}

#eng{
  text-align: start;
}

#fr{
  text-align: end;
}

/* #summary{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

#summary p{
  display: inline-block;
  white-space: pre-line;
}

#eng{
  margin-left: 10vw;
  text-align: start;
}

#fr{
  margin-right: 10vw;
  text-align: end;
} */

#work-gallery, #project-gallery{
  display: flex;
  flex-direction: row;

  overflow-x: scroll;
  
  scroll-snap-type: x mandatory;
  
  padding: 5vh 0;
  
  min-width: 100vw;
}

.planet{
  position: relative;
  
  flex: 0 0 90vw;
  margin: 0 5vw;
  
  display: flex;
  place-items: center;
  justify-content: center;
  
  scroll-snap-align: center;
  
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;

  animation: travel 2s ease-in-out infinite alternate-reverse;
  -webkit-animation: travel 2s ease-in-out infinite alternate-reverse;
  -moz-animation: travel 2s ease-in-out infinite alternate-reverse;
}


.planet > img{
  width: 100%;
}

.planet:hover{
  scale: 110%;
}

#current{
  margin-top: 5vh;
}

#current::before{
  content: '';
  background-image: url(../assets/images/astronaut.webp);
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vh;
  aspect-ratio: 1;
  position: absolute;
  top: -10vh;
  left: 50%;
  translate: -50% 30%;
}

.underplanet{
  position: absolute;
  width: 100%;
  height: 100%;
  
  border-radius: 50%;

  padding: 10%;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 0.5rem;
}

/* #project-gallery{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
}

#row-1{
  grid-row-start: 1;
  grid-row-end: 2;
}

#row-2{
  grid-row-start: 2;
  grid-row-end: 3;
}

#row-3{
  grid-row-start: 3;
  grid-row-end: 4;
}

#row-4{
  grid-row-start: 4;
  grid-row-end: 5;
}

.row{
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.row > div{
  width: 0;
  flex: 1 1 0;
}

#work-gallery > div:nth-child(odd), #project-gallery > div:nth-child(2n+1) > div.planet{
  animation-delay: -2s;
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
}

.row:nth-child(even){
  flex-direction: row-reverse;
}

@keyframes travel{
  0%{
    transform: translateY(2%);
  }
  100%{
    transform: translateY(-2%);
  }
} */

/* .planet{
  position: relative;

  scroll-snap-align: center;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  
  flex: 1 1 0;
  width: 0;
  width: 90vw;

  width: 100vw;

  margin: 0 5%;

  border-radius: 50%;

  animation: travel 2s ease-in-out infinite alternate-reverse;
  -webkit-animation: travel 2s ease-in-out infinite alternate-reverse;
  -moz-animation: travel 2s ease-in-out infinite alternate-reverse;

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
} */

/* .planet:hover{
  scale: 110%;
}

.planet img{
  display: block;
  width: 100%;
} */

/* div.project.desc > p > span > a > img{
  height: 1em;
  display: inline-block;
  vertical-align: middle;
}

div.project.desc > p > span{
  display: block;
  margin: 5%;
}

div.project.desc{
  position: relative;
  background: linear-gradient(to right, rgb(64, 38, 155), rgb(124, 51, 124), rgb(131, 49, 49));
  border-radius: 5rem;
  padding: 2%;
  border: 2px white solid;
}

div.project.desc > p > span{
  color: #111111;
}

#project-gallery > div:nth-child(even) > div.project.desc > p > span:not(.title):not(.undertitle):not(.tech){
  text-align: start;
}

#project-gallery > div:nth-child(odd) > div.project.desc > p > span:not(.title):not(.undertitle):not(.tech){
  text-align: end;
} */

/* #skills{
  width: 100%;
  height: auto;
} */


/* .stamp{
  margin: auto;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

div.project.desc > p > span.tech{
  height: 3vw;
  display: flex;
  -webkit-display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div.project.desc > p > span.tech > img{
  height: 100%;
} */

.italic{
  font-style: italic;
}

h1{
  font-size: 1.5em;
  font-family: "andro";
}

.anchor{
  position: absolute;
  top: -14vh;
  left: 0;
  width: 100%;
}

.minimized{
  opacity: 0;
}

#socials.minimized{
  transform-origin: bottom;
  transform: scale(75%);
  -webkit-transform-origin: bottom;
  -webkit-transform: scale(75%);
  -moz-transform-origin: bottom;
  -moz-transform: scale(75%);
}

@media only screen and (min-width: 990px){
  #blackhole-container{
    margin: 35vw;
  }
}