/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
html{
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  
  min-height: 100%;

  font-family: 'Courier New', monospace;
  font-size: 1.5rem;

  background: linear-gradient(90deg, #030611, #010510, #120217, #000000);
	background-size: 500% 500%;
  background-attachment: fixed;
	
  animation: gradient 20s ease infinite;
  -webkit-animation: gradient 20s ease infinite;
  
  scrollbar-width: none;

  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  scrollbar-width: 0;
  display: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#background{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;

  height: 25vh;
  width: 100%;

  margin: auto;

  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;

  font-weight: bold;
  border-radius: 5rem;
  /* border: 1px red solid; */
}

ul{
  height: 100%;
  width: 100%;
  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center;
  justify-content: center;
}

li{
  text-align: center;
  flex: 1 1 0;
  width: 0;
}

a{
  text-decoration: none;
}

nav ul li a{
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

nav ul li a:hover{
  background-color: white;
  color: #000000;
}

#avatar{
  position: relative;
  margin: auto;
  border-radius: 50%;
  width: 40%;
  aspect-ratio: 1;
}

#avatar img{
  border-radius: 50%;
  width: 100%;
}

#singularity{
  animation: pulsing-low 0.5s linear infinite;
  -webkit-animation: pulsing-low 0.5s linear infinite;
}
#photon-ring{
  animation: rotate 0.2s linear infinite;
  -webkit-animation: rotate 0.2s linear infinite;
}
#event-horizon{
  animation: pulsing-bright 3s linear infinite alternate;
  -webkit-animation: pulsing-bright 3s linear infinite alternate;
}
#aura{
  animation: aura-pulsing 20s ease infinite;
  -webkit-animation: aura-pulsing 20s ease infinite;
}
.accretion-disc{
  animation: vibrate 0.1s linear infinite;
  -webkit-animation: vibrate 0.1s linear infinite;
}
#front-disc{
  animation: stripe 0.5s ease infinite;
  -webkit-animation: stripe 0.5s ease infinite;
}

#blackhole-container{
  position: relative;
  height: 50%;
  width: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.blackhole{
  aspect-ratio: 1;
  border-radius: 50%;
}

#singularity{
  height:100%;
  width:100%;

  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-content: center;
  margin: auto;

  background: radial-gradient(circle, black 0%, 60%, white 70%);
  box-shadow: 0 0 0.63rem 1.25rem white;
}

@keyframes pulsing-low{
  0%{
    transform: scale(100%);
    -webkit-transform: scale(100%);
  }
  20%{
    transform: scale(102%);
    -webkit-transform: scale(102%);
    box-shadow: 0 0 0.94rem 0.94rem white;
  }
  55%{
    transform: scale(103%);
    -webkit-transform: scale(103%);
  }
  70%{
    transform: scale(99%);
    -webkit-transform: scale(99%);
    box-shadow: 0 0 0.25rem 0.63rem white;
  }
  90%{
    transform: scale(101%);
    -webkit-transform: scale(101%);
    box-shadow: 0 0 0.25rem 0.94rem white;
  }
  100%{
    transform: scale(100%);
    -webkit-transform: scale(100%);
  }
}

#photon-ring{
  width:85%;

  margin: auto;
  background: transparent;
  border: solid 0.1rem white;
  box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem white;
}

@keyframes rotate{
  0%{
    box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem white;
  }
  24%{
    box-shadow: 0rem 0.2rem 0.1rem 0.1rem white;
  }
  49%{
    box-shadow: 0rem 0rem 0.1rem 0.1rem white;
  }
  74%{
    box-shadow: 0.2rem 0rem 0.1rem 0.1rem white;
  }
  99%, 100%{
    box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem white;
  }
}

#event-horizon{
  height: 60%;
  border: 20% solid white;

  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  box-shadow: 0 0 1rem 2rem rgb(249, 232, 170);
}

@keyframes pulsing-bright {
  0%{
    transform: scale(100%);
    -webkit-transform: scale(100%);
    box-shadow: 0 0 1rem 2rem rgb(249, 232, 170);
  }  
  17%{
    box-shadow: 0 0 1.5rem 2.5rem rgb(255, 242, 195);
  }
  20%{
    transform: scale(98%);
    -webkit-transform: scale(98%);
  }
  55%{
    transform: scale(101%);
    -webkit-transform: scale(101%);
  }  
  67%{
    box-shadow: 0 0 2rem 2rem rgb(249, 232, 170);
  }
  70%{
    transform: scale(101%);
    -webkit-transform: scale(101%);
  } 
  83%{
    box-shadow: 0 0 1.5rem 2rem rgb(255, 246, 185);
  }
  90%{
    transform: scale(99%);
    -webkit-transform: scale(99%);
  }
  100%{
    transform: scale(100%);
    -webkit-transform: scale(100%);
    box-shadow: 0 0 1rem 2rem rgb(249, 232, 170);
  }
}

#aura{
  position: absolute;
  
  height: 100%;

  margin: auto;

  filter: blur(2.5rem);
  -webkit-filter: blur(2.5rem);

  background: repeating-conic-gradient(white, transparent 11% 15%, white 18%);
  background-size: 50% 50%;
}

@keyframes aura-pulsing{
  0%{
    background-position: 0% 0%;
  }
  20%{
    background-position: -20.5% 3.6%;
  }
  55%{
    background-position: -40.7% -50.9%;
  }
  70%{
    background-position: -50.7% -70.5%;
  }
  90%{
    background-position: 20.3% -40.5%;
  }
  100%{
    background-position: 0% 0%;
  }
}

.accretion-disc{
  position: absolute;

  height: 7.5%;
  aspect-ratio: 18;

  margin: auto;
  
  border-radius: 50%;
  
  background-color: white;
  box-shadow: 0 0 1rem 1rem rgb(255, 247, 222);
}

@keyframes vibrate{
  25%{
    rotate: 0.3deg;
  }
  75%{
    rotate: -0.3deg;
  }
}

#front-disc{
  margin: auto;

  height: 5%;

  box-shadow: 0 0 1rem 0.5rem rgb(255, 255, 255);
  background: repeating-linear-gradient(white 10%, transparent 30%, white 50%);
}

@keyframes stripe {
  0%{
    background: repeating-linear-gradient(white 10%, transparent 30%, white 50%);
  }
  12.5%{
    background: repeating-linear-gradient(white 5%, transparent 40%, white 55%);
  }
  25%{
    background: repeating-linear-gradient(white 10%, transparent 30%, white 60%);
  }
  37.5%{
    background: repeating-linear-gradient(white 5%, transparent 40%, white 50%);
  }
  50%{
    background: repeating-linear-gradient(white 10%, transparent 30%, white 50%);
  }
  62.5%{
    background: repeating-linear-gradient(white 10%, transparent 30%, white 45%);
  }
  75%{
    background: repeating-linear-gradient(white 20%, transparent 30%, white 40%);
  }
  87.5%{
    background: repeating-linear-gradient(white 5%, transparent 40%, white 40%);
  }
  100%{
    background: repeating-linear-gradient(white 10%, transparent 30%, white 50%);
  }
}

.star{
  position: absolute;
  z-index: -1;

  border-radius: 50%;
  background: white;
}

@keyframes glow{
  10%{
    transform: scale(200%);
    -webkit-transform: scale(200%);
  }
  20%{
    transform: scale(100%);
    -webkit-transform: scale(100%);
  }
}

.star:nth-child(n) {
  width: 0.3%;
  aspect-ratio: 1;
}

.star:nth-child(2n) {
  width: 0.2%;
  aspect-ratio: 1;
}

.star:nth-child(3n) {
  width: 0.1%;
  aspect-ratio: 1;
}

 #footer{
  position: fixed;
  
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

#socials{
  position: relative;
  background-color: white;

  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  border-radius: 5rem;
}

#socials *:hover{
  background-color: darkgray;
}

#socials a:nth-child(n) {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

#socials a:first-child {
  margin-left: 2vw;
}

#socials a:last-child {
  margin-right: 2vw;
}

 #socials a img{
  width: 6vh;
  display: block;
}

#socials a:nth-child(2), #socials a:nth-child(2) > img {
  border-radius: 50%;
}

.ontop{
  z-index: 10;
}

main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}


.alignment-grid{
  visibility: collapse;
}

#home{
  height: 75vh; 
  width: 100%; 
  position: relative;
}

#home p {
  position: absolute;
  top: 70%;
  left: 50%;
  translate: -50% -50%;
  display: flex; 
  display: -webkit-flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
}

#switch > span{
  position: absolute;
  translate: -50% 50%;
  opacity: 0;
  white-space: pre;
  animation: fade 50s ease-in infinite;
  -webkit-animation: fade 50s ease-in infinite;
}

#switch > span > span{
  font-size: 2rem;
  display: inline-block;
}

#switch > span > span:nth-child(2n){
  animation: suck1 50s ease-in infinite;
  -webkit-animation: suck1 50s ease-in infinite;
}

#switch > span > span:nth-child(2n-1){
  animation: suck2 50s ease-in infinite;
  -webkit-animation: suck2 50s ease-in infinite;
}

#switch span:nth-child(1), #switch span:nth-child(1) span{
  animation-delay: 0s;
}
#switch span:nth-child(2), #switch span:nth-child(2) span{
  animation-delay: 10s;
}
#switch span:nth-child(3), #switch span:nth-child(3) span{
  animation-delay: 20s;
}
#switch span:nth-child(4), #switch span:nth-child(4) span{
  animation-delay: 30s;
}
#switch span:nth-child(5), #switch span:nth-child(5) span{
  animation-delay: 40s;
}
@keyframes fade {
  2%, 100%{
    opacity: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}
@keyframes suck1 {
  0%, 14%{
    transform: translateY(0) rotateZ(0deg);
    -webkit-transform: translateY(0) rotateZ(0deg);
    opacity: 1;
  }
  20%, 100%{
    transform: translateY(-400%) rotateZ(360deg);
    -webkit-transform: translateY(-400%) rotateZ(360deg);
    opacity: 0;
  }
}

@keyframes suck2 {
  0%, 15%{
    transform: translateY(0) rotateZ(0deg);
    -webkit-transform: translateY(0) rotateZ(0deg);
    opacity: 1;
  }
  21%, 100%{
    transform: translateY(-400%) rotateZ(-360deg);
    -webkit-transform: translateY(-400%) rotateZ(-360deg);
    opacity: 0;
  }
}

main h1{
  font-size: 2rem;
  margin-bottom: 1%;
  font-weight: bold;
}

main img{
  vertical-align: middle;
}

main > section{
  width: 100%;
  /* border: 1px solid red; */
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#work-gallery-container, #project-gallery-container{
  width: 100%;
  /* border: 1px green solid; */
}

#project-gallery, #work-gallery{
  margin: auto;
  position: relative;
  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  /* border: 1px yellow solid; */
  padding: 5%;
}

.planet, .moon{
  margin: auto;
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex;
  margin-top: 10%;
}



.moon > a > span{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}


.planet, .moon{
  margin: auto;
  height: 50vh;
  aspect-ratio: 1;
  /* border: 1px white solid; */
}

.moon a {
  margin: auto;
  height: 50%;
}

.planet img, .moon img{
  height: 100%;
}

#work-gallery::before{
  content: '';
  height: 0;
  width: 100%;
  border-width: 0.1rem;
  border-style: dashed;
  position: absolute;
  z-index: -1;
}

#work-gallery::after{
  content: '';
  height: 0;
  width: 0;
  right: 0rem;
  border-left: white solid 2rem ;
  border-top: transparent solid 0.5rem;
  border-bottom: transparent solid 0.5rem;
  position: absolute;
  z-index: -1;
}

/* #project-gallery > div:nth-child(n){
  display: flex;
  display: webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
  border-radius: 5rem;
  padding: 2%;
  background-color: rgb(12, 1, 59);
  position: relative;
}

#project-gallery > div:nth-child(n)::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  translate: 1rem 0%;
  z-index: -1;
  border-radius: 5rem;
  background-color: rgb(5, 0, 25);
} */

.tech{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
.tech img{
  height: 5vh;
}

#current::before{
  content: '';
  background-image: url(../assets/images/astronaut.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 30%;
  width: 30%;
  position: absolute;
  top: 0%;
  left: 50%;
  translate: -50% -50%;
}

.underplanet{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.underplanet *{
  display: block;
  font-size: 1rem;
  font-weight: normal;
}

.undertitle{
  font-size: 0.8rem;
}

div.planet > p.underplanet > span.undertitle img{
  margin: auto;
  height: 3rem;
}

.title{
  font-size: 1.2rem;
  text-decoration: underline;
  font-weight: bold;
}

.stamp{
  position: absolute;
  height: 1em;
  right: 7.5%;
  top: 7.5%;
  filter: invert(1);
  -webkit-filter: invert(1);
}

#about > p{
  padding-left: 20%;
  padding-right: 20%; 
}

.mcgill{
  color: red;
}

.cpk{
  color: rgb(135, 105, 78);
}

img.mcgill, img.cpk{
  height: 2rem;
}

.to-show-on-scroll{
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
}

.scroll-animation {
  opacity: 1;
  transform: translateY(0);
}

.minimized{
  scale: 75%;
  opacity: 0.7;
}

.inverted{
  filter: invert(1);
  -webkit-filter: invert(1);
}

.acc-aig, .acc-gr{
  position: relative;
}

.acc-aig::before, .acc-gr::before{
  content: '`';
  position: absolute;
  top: 0;
  left: 0;
}

.acc-aig::before{
  transform: rotateY(180deg);
}

/* mobile */
  @media (max-height: 1000px) and (max-width: 500px) and (orientation: portrait){
    #switch > span > span, main h1{font-size: 1rem;}
    body{font-size: 0.75rem;}
    #socials a img{width: 10vw;}
    #socials a:first-child {
      margin-left: 3vw;
    }
    
    #socials a:last-child {
      margin-right: 3vw;
    }
    #blackhole-container{
        height: 30%;
        width: 30%;
    }
    nav{
      height: 15vh;
    }
    #avatar{
      width: 80%;
    }
    #home{
      height: 85vh;
    }
    #home p{
        bottom: 20%;
    }
    nav ul li a:nth-child(n){
        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    }
    #project-gallery-container, #work-gallery-container{
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
    #project-gallery, #work-gallery{
      padding: 10%;
    }
    .planet, .moon{
      scroll-snap-align: center; 
      height: 40vh;
    }
    #current::before{
      height: 20%;
      width: 20%;
    }
    div.planet > p.underplanet > span.undertitle img{
        height: 2rem;
    }
    #work-gallery::after{
      border-left: white solid 1rem ;
      border-top: transparent solid 0.25rem;
      border-bottom: transparent solid 0.25rem;
    }
    .title{
      font-size: 0.75rem;
    }
    .underplanet *{
      font-size: 0.75rem;
    }
    .undertitle{
      font-size: 0.8rem;
    }
    img.mcgill, img.cpk{
      height: 1rem;
    }
    img.cpk{
      height: 1rem;
    }
}