/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body {
  margin: 0;
  
  min-height: 100%;
  
  font-size: 1.5em;
  font-family: 'Courier New', monospace;

  background: linear-gradient(90deg, #030611, #010510, #120217, #000000);
	background-size: 500% 500%;
  background-attachment: fixed;
	
  animation: gradient 20s ease infinite;
  -webkit-animation: gradient 20s ease infinite;
  
  scrollbar-width: none;
  
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  scrollbar-width: 0;
  display: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#background{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #home{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1vh;
    width: 3vw;
    border-radius: 1rem;
  }

  #home img{
    filter: invert(1);
    position: relative;
    width: 100%;
    display: block;
  }

  #home:hover{
    background-color: darkgrey;
  }

.star-wars{
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;
  }
  
  button{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 20%;
    aspect-ratio: 1;
  
    border: 0;
    
    background: transparent;
    border-radius: 50%;
  
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  button:hover{
    cursor: pointer;
  }
  
  #death-star-container{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 20%;
  
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
  }
  
  #death-star-container img{
    width: 100%;
  }
  
  #death-beam-container{
    position: absolute;
    border-radius: 50%;
    width: 20%;
    aspect-ratio: 1;
    top: 18%;
    left: 67.8%;
  
    transform: skewX(5deg) skewY(20deg);
  }
  
  #death-beam-container.active{
    animation: beam-glow 7s linear 1;
    -webkit-animation: beam-glow 7s linear 1;
  }
  
  @keyframes beam-glow {
    0%, 8%{
      background-color: rgba(17, 255, 0, 0);
    }
    9%, 18%{
      background-color: rgba(17, 255, 0, 0.025);
    }
    19%, 28%{
      background-color: rgba(17, 255, 0, 0.05);
    }
    29%, 38%{
      background-color: rgba(17, 255, 0, 0.075);
    }
    39%, 48%{
      background-color: rgba(17, 255, 0, 0.1);
    }
    49%, 58%{
      background-color: rgba(17, 255, 0, 0.125);
    }
    59%, 68%{
      background-color: rgba(17, 255, 0, 0.15);
    }
    69%, 78%{
      background-color: rgba(17, 255, 0, 0.175);
    }
    79%, 98%{
      background-color: rgba(17, 255, 0, 0.2);
    }
    100%{
      background-color: rgba(17, 255, 0, 0);
    }
  }
  
  #death-beam-container span:nth-child(n){
    position: absolute;
    top: 0%;
    left: 100%;
    
    height: 0.25rem;
    
    transform-origin: left;
    -webkit-transform-origin: left;
    
    overflow-y: hidden;
    
    padding: 0;
    margin: 0;
  }
  
  .death-beam::-webkit-scrollbar{
    display: none;
  }
  
  #death-beam-container span:nth-child(1){
    width: 45%;
    transform: translateY(-50%) rotateZ(-195deg);
    -webkit-transform:  translateY(-50%) rotateZ(-195deg);
  }
  
  #death-beam-container span:nth-child(2){
    width: 50%;
    transform: translateY(-50%) rotateZ(105deg);
    -webkit-transform:  translateY(-50%) rotateZ(105deg);
  }
  
  #death-beam-container span:nth-child(3){
    width: 100%;
    transform: translateY(-50%) rotateZ(115deg);
    -webkit-transform:  translateY(-50%) rotateZ(115deg);
  }
  
  #death-beam-container span:nth-child(4){
    width: 100%;
    transform: translateY(-50%) rotateZ(155deg);
    -webkit-transform:  translateY(-50%) rotateZ(155deg);
  }
  
  #death-beam-container span:nth-child(5){
    width: 35%;
    transform: translateY(-50%) rotateZ(-225deg);
    -webkit-transform: translateY(-50%) rotateZ(-225deg);
  }
  
  #death-beam-container span:nth-child(6){
    width: 75%;
    transform:  translateY(-50%) rotateZ(105deg);
    -webkit-transform: translateY(-50%) rotateZ(105deg);
  }
  
  #death-beam-container span:nth-child(7){
    width: 115%;
    transform: translateY(-50%) rotateZ(135deg);
    -webkit-transform: translateY(-50%) rotateZ(135deg);
  }
  
  #death-beam-container span:nth-child(8){
    width: 70%;
    transform: translateY(-50%) rotateZ(-190deg);
    -webkit-transform: translateY(-50%) rotateZ(-190deg);
  }
  
  #death-beam-container span:nth-child(9){
    height: 0.5rem;
    width: 70vw;
    transform: translateY(-50%) rotateZ(-35deg);
    -webkit-transform: translateY(-50%) rotateZ(-35deg);
  }
  
  #death-beam-container span:nth-child(n)::before{
    content: "";
  
    position: absolute;
    top: 50%;
    left: 0;
    
    width: 100%;
    height: 50%;
    
    background-color: rgb(133, 255, 124);
    box-shadow: 0 0 4px 1px green;
  
    transform: translateX(100%) translateY(-50%);
    -webkit-transform: translateX(100%) translateY(-50%);
    }
  
  #death-beam-container.active span:nth-child(1)::before{
    animation: beam 7s linear 1;
    -webkit-animation: beam 7s linear 1;
  }
  
  @keyframes beam{
    0%, 39%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
   40%, 98%{
      transform: translateX(0) translateY(-50%);
      -webkit-transform: translateX(0) translateY(-50%);
    }
    100%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
  }
  
  #death-beam-container.active span:nth-child(2)::before{
    animation: beam2 7s linear 1;
    -webkit-animation: beam2 7s linear 1;
  }
  
  @keyframes beam2{
    0%, 29%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
   30%, 98%{
      transform: translateX(0) translateY(-50%);
      -webkit-transform: translateX(0) translateY(-50%);
    }
    100%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
  }
  
  #death-beam-container.active span:nth-child(3)::before{
    animation: beam3 7s linear 1;
    -webkit-animation: beam3 7s linear 1;
  }
  
  @keyframes beam3{
    0%, 59%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
   60%, 98%{
      transform: translateX(0) translateY(-50%);
      -webkit-transform: translateX(0) translateY(-50%);
    }
    100%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
  }
  
  #death-beam-container.active span:nth-child(4)::before{
    animation: beam4 7s linear 1;
    -webkit-animation: beam4 7s linear 1;
  }
  
  @keyframes beam4{
    0%, 69%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
   70%, 98%{
      transform: translateX(0) translateY(-50%);
      -webkit-transform: translateX(0) translateY(-50%);
    }
    100%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
  }
  
  #death-beam-container.active span:nth-child(5)::before{
    animation: beam5 7s linear 1;
    -webkit-animation: beam5 7s linear 1;
  }
  
  @keyframes beam5{
    0%, 19%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
   
    20%, 98%{
      transform: translateX(0) translateY(-50%);
      -webkit-transform: translateX(0) translateY(-50%);
    }
    100%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
  }
  
  
  #death-beam-container.active span:nth-child(6)::before{
    animation: beam6 7s linear 1;
    -webkit-animation: beam6 7s linear 1;
  }
  
  @keyframes beam6{
    0%, 78%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
   80%, 98%{
      transform: translateX(0) translateY(-50%);
      -webkit-transform: translateX(0) translateY(-50%);
    }
    100%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
  }
  
  #death-beam-container.active span:nth-child(7)::before{
    animation: beam7 7s linear 1;
    -webkit-animation: beam7 7s linear 1;
  }
  
  @keyframes beam7{
    0%, 49%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
   50%, 98%{
      transform: translateX(0) translateY(-50%);
      -webkit-transform: translateX(0) translateY(-50%);
    }
    100%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
  }
  
  #death-beam-container.active span:nth-child(8)::before{
    animation: beam8 7s linear 1;
    -webkit-animation: beam8 7s linear 1;
  }
  
  @keyframes beam8{
    0%, 9%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
   10%, 98%{
      transform: translateX(0) translateY(-50%);
      -webkit-transform: translateX(0) translateY(-50%);
    }
    100%{
      transform: translateX(100%) translateY(-50%);
      -webkit-transform: translateX(100%) translateY(-50%);
    }
  }
  
  #death-beam-container.active span:nth-child(9)::before{
    animation: mainbeam 7s ease-in 1;
    -webkit-animation: mainbeam 7s ease-in 1;
  }
  
  @keyframes mainbeam{
    0%, 80%{
      transform: translateX(-100%) translateY(-50%);
      -webkit-transform: translateX(-110%) translateY(-50%);
    }
    87.5%, 96.5%{
      transform: translateX(0) translateY(-50%);
      -webkit-transform: translateX(0) translateY(-50%);
    }
    98%,100%{
      transform: translateX(-100%) translateY(-50%);
      -webkit-transform: translateX(-110%) translateY(-50%);
    }
  }
  
  .tie-fighter#containerY{
    position: relative;
    top: 50%;
  
    height: 8%;
    aspect-ratio: 1;
    min-height: 5rem;
    max-height: 5rem;
  
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
  
    animation: swoosh-tieY 15s ease-in-out infinite;
    -webkit-animation: swoosh-tieY 15s ease-in-out infinite;;
  }
  
  @keyframes swoosh-tieY {
    75%{
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
    100%{
      transform: translateY(-20vh);
      -webkit-transform: translateY(-20vh);
    }
  }
  
  .tie-fighter#containerX{
    height: 100%;
    width: 100%;
  
    translate: -8rem 0;
  
    margin: auto;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
  
    animation: swoosh-tieX 15s ease-in-out infinite;
    -webkit-animation: swoosh-tieX 15s ease-in-out infinite;;
  }
  
  @keyframes swoosh-tieX {
    75%{
      transform: translateX(0);
      -webkit-transform: translateX(0);
      
    }
    90%{
      transform: translateX(30vw) scale(50%);
      -webkit-transform: translateX(30vw) scale(50%);
    }
    91%{
      transform: translateX(29vw) scale(50%) rotate3d(0,1,0,180deg);
      -webkit-transform: translateX(29vw) scale(50%) rotate3d(0,1,0,180deg);
    }
    100%{
      transform: translateX(0) scale(50%) rotate3d(0,1,0,180deg);
      -webkit-transform: translateX(0) scale(50%) rotate3d(0,1,0,180deg);
    }
  }
  
  .tie-fighter img{
    margin: auto;
    height: 100%;
  
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
  }
  
  .tie-fighter#laser{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  
  .tie-fighter#laser * {
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 25%;
    height: 1%;
  
    background-color: white;
    box-shadow: 0 0 0.13rem 0.06rem rgb(17, 255, 0);
    
    transform: rotateY(50deg) rotate(-15deg);
    -webkit-transform: rotateY(50deg) rotate(-15deg);
  }
  
  .tie-fighter#laser span:nth-child(1){
    animation: laser1 15s linear infinite;
    -webkit-animation: laser1 15s linear infinite;
  }
  .tie-fighter#laser span:nth-child(2){
    animation: laser2 15s linear infinite;
    -webkit-animation: laser2 15s linear infinite;
  }
  .tie-fighter#laser span:nth-child(3){
    animation: laser3 15s linear infinite;
    -webkit-animation: laser3 15s linear infinite;
  }
  
  @keyframes laser1 {
    84%{
      transform: translate(0rem, 0rem) scale(100%) rotateY(50deg) rotate(-10deg);
      -webkit-transform: translate(0rem, 0rem) scale(100%) rotateY(50deg) rotate(-10deg);
    }
    86% {
      transform: translate(9.4rem, -4rem) scale(30%) rotateY(50deg) rotate(-10deg);
      -webkit-transform: translate(9.4rem, -4rem) scale(30%) rotateY(50deg) rotate(-10deg);
    }
    87%, 100% {
      transform: translate(9.4rem, -4rem) scale(0%) rotateY(50deg) rotate(-10deg);
      -webkit-transform: translate(9.4rem, -4rem) scale(0%) rotateY(50deg) rotate(-10deg);
    }
  }
  @keyframes laser2 {
    85%{
      transform: translate(0rem, 0rem) scale(100%) rotateY(50deg) rotate(-10deg);
      -webkit-transform: translate(0rem, 0rem) scale(100%) rotateY(50deg) rotate(-10deg);
    }
    87% {
      transform: translate(9.4rem, -4rem) scale(30%) rotateY(50deg) rotate(-10deg);
      -webkit-transform: translate(9.4rem, -4rem) scale(30%) rotateY(50deg) rotate(-10deg);
    }
    88%, 100% {
      transform: translate(9.4rem, -4rem) scale(0%) rotateY(50deg) rotate(-10deg);
      -webkit-transform: translate(9.4rem, -4rem) scale(0%) rotateY(50deg) rotate(-10deg);
    }
  }
  @keyframes laser3 {
    86%{
      transform: translate(0rem, 0rem) scale(100%) rotateY(50deg) rotate(-10deg);
      -webkit-transform: translate(0rem, 0rem) scale(100%) rotateY(50deg) rotate(-10deg);
    }
    88%{
      transform: translate(9.4rem, -4rem) scale(30%) rotateY(50deg) rotate(-10deg);
      -webkit-transform: translate(9.4rem, -4rem) scale(30%) rotateY(50deg) rotate(-10deg);
    }
    89%, 100% {
      transform: translate(9.4rem, -4rem) scale(0%) rotateY(50deg) rotate(-10deg);
      -webkit-transform: translate(9.4rem, -4rem) scale(0%) rotateY(50deg) rotate(-10deg);
    }
  }
  .millenium_falcon#containerY{
    position: relative;
    top: 50%;
    
    height: 8%;
    min-height: 5rem;
    aspect-ratio: 1;
  
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
  
    animation: swooshY 15s ease-in-out infinite;
    -webkit-animation: swooshY 15s ease-in-out infinite;
  }
  
  @keyframes swooshY {
    70%{
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
    83%, 86%{
      transform: translateY(-5vh);
      -webkit-transform: translateY(-5vh);
    }
    87%, 100%{
      transform: translateY(-10vh) rotate(-10deg);
      -webkit-transform: translateY(-10vh) rotate(-10deg);
    }
  }
  
  .millenium_falcon#containerX{
    height: 100%;
    width: 100%;
  
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    translate: -8rem 0;
    animation: swooshX 15s ease-in-out infinite;
    -webkit-animation: swooshX 15s ease-in-out infinite;
  }
  
  @keyframes swooshX {
    70%{
      transform: translateX(0%) scale(100%);
      -webkit-transform: translateX(0%) scale(100%);
    }
    83%, 86%{
      transform: translateX(35vw) scale(60%);
      -webkit-transform: translateX(35vw) scale(60%);
    }
    87%, 100%{
      transform: translateX(45vw) scale(0%);
      -webkit-transform: translateX(45vw) scale(0%);
    }
  }
  
  .millenium_falcon img{
    height: 100%;
    
    margin: auto;
    
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
  }
  
  #plasma{
    position: absolute;
    top: 17%;
    left: -5%;
    
    z-index: -1;
  
    height: 80%;
    width: 90%;
  
    filter: blur(0.2rem);
    -webkit-filter: blur(0.2rem);
    border-radius: 50%;
    background: radial-gradient(circle,white 30%, rgb(115, 236, 255));
    
    transform: skew(20deg) rotateZ(-15deg);
    -webkit-transform: skew(20deg) rotateZ(-15deg);
  
    animation: hyperspace 15s ease infinite;
    -webkit-animation: hyperspace 15s ease infinite;
  }
  
  @keyframes hyperspace {
    0%, 85%{
      filter: blur(0.2rem) brightness(100%);
      -webkit-filter: blur(0.2rem) brightness(100%);
      transform: skew(20deg) rotateZ(-15deg);
      -webkit-transform: skew(20deg) rotateZ(-15deg);
    }
    86%, 100%{
      filter: blur(0.2rem) brightness(150%);
      -webkit-filter: blur(0.2rem) brightness(150%);
      transform: skew(20deg) rotateZ(-15deg) translateX(-2%) translateY(-1%);
      -webkit-transform: skew(20deg) rotateZ(-15deg) translateX(-2%) translateY(-1%);
    }
  }

  .star{
  position: absolute;
  z-index: -1;

  border-radius: 50%;
  background: white;
}

@keyframes glow{
  10%{
    transform: scale(200%);
    -webkit-transform: scale(200%);
  }
  20%{
    transform: scale(100%);
    -webkit-transform: scale(100%);
  }
}

.star:nth-child(n) {
  width: 0.3%;
  aspect-ratio: 1;
}

.star:nth-child(2n) {
  width: 0.2%;
  aspect-ratio: 1;
}

.star:nth-child(3n) {
  width: 0.1%;
  aspect-ratio: 1;
}


#crawl-container{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;

  perspective: 12.5rem;
  -webkit-perspective: 12.5rem;

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#crawl{
  position: relative;
  height: 100%;
  width: 40%;

  text-shadow: none;
  font-weight: normal;

  transform: rotateX(40deg);
  -webkit-transform: rotateX(40deg);

  margin: auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-family:'Trade Gothic LT W01 Bold';
  color: rgb(250, 202, 28);
  
  overflow: hidden;
  
  mask-image: linear-gradient(to top, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, black 90%, transparent 100%);
}

#crawl p{
  position: absolute;
  top: 0;

  width: 100%;

  animation: crawl 30s linear infinite;
  -webkit-animation: crawl 30s linear infinite;
}
@keyframes crawl{
  to{
    transform: translateY(-75%);
    -webkit-transform: translateY(-75%);
  }
}

#crawl p:hover {
  animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
}